{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Schedule - Sandika{% endblock %}
{% block bg-img %}{% static 'background-images/GuestbookLine.png' %}{% endblock %}
{% block bg-img-width %}cover{% endblock %}

{% block body %}
		<div class="container">
			<hr style="border: 10px solid transparent" width="45%" />
		</div>

		<div class="container" style="width: 600px;">
			<form action="/schedule/submitted-form/" method="post">
				{% csrf_token %}
				{% for row in form %}
					<div class="form-group">
						{{ row.label }}
						{% render_field row class="form-control" %}
					</div>
				{% endfor %}
				<div class="container text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
			<form action="/schedule/clear-data/">
				<div class="container text-center">
					<button type="submit" class="btn btn-primary">Clear Data</button>
				</div>
			</form>
		</div>

		<div class="container">
			<table class="table table-sm">
				<thead class="thead-dark">
					<tr>
						<th>Activity Name</th>
						<th>Date</th>
						<th>Time</th>
						<th>Location</th>
						<th>Category</th>
					</tr>
				</thead>
				<tbody class="table-info">
					{% for schedule in my_data %}
					<tr>
						<td>{{ schedule.activity_name }}</td>
						<td>{{ schedule.date }}</td>
						<td>{{ schedule.time }}</td>
						<td>{{ schedule.location }}</td>
						<td>{{ schedule.get_category_display }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

{% endblock %}