ul {
	font-weight:bold;
	font-size: 2em;
}

@media screen and (min-width: 993px) {
	.lg-font {
		font-size: 2.5vw;
	}
}

@media screen and (max-width: 992px) {
	.md-font {
		font-size: 4.3vw;
	}
}

@media (max-width: 992px) {
	.contact-bg-img {
		background-image: url("background-images/ContactLineSm.png");
		background-size: 102vw;
	}
}

@media (min-width: 993px) {
	.contact-bg-img {
		background-image: url("background-images/ContactLine.png");
		background-size: cover;
	}

}
.contact-align {
	padding-left: 100px;
}

.contact-style {
	font-family: "Verdana";
	font-weight: bold;
	display: inline-block;
	font-size: 2.1vh;
}

.bgcolor {
	background-color: #2eb2ff;
}

#introquote {
	float: right; 
	padding-right: 90px; 
	padding-top: 80px;
	font-size: 5vmin;
	text-align: center;
}

.orange {
	color:orange;
}

.white {
	color:white;
}

.form-label-font {
	font-size: 3.5vh;
}