{% extends 'base.html' %}
{% load static %}
{% block title %}About - Sandika{% endblock %}
{% block bg-img %}{% static 'background-images/AboutLine.png' %}{% endblock %}
{% block bg-img-width %}screen-width{% endblock %}

{% block body %}
		<div class="row">
			<div class="container">
				<hr style="border: 65px solid transparent;">
			</div>
		</div>

		<div class="row">
			<div class="container col-lg-3 col-md-3 col-sm-3">
				<img src="{% static 'SandikaPortrait.png' %}" width="250vw">
			</div>
			<div class="container col-lg-6 col-md-8 col-sm-6 md-font lg-font">
				<p><b>Name:</b> Sandika P. Putra
				<br/><b>Birthdate:</b> April 16, 1999
				<br/><b>Birthplace:</b> Masbagik, Nusa Tenggara Barat
				<br/><b>Education:</b> Currently pursuing a major in information system
				<br/><b>Institution:</b> Universitas Indonesia
			</p>
			</div>
		</div>

		<div class="row">
			<div class="container">
				<hr style="border: 230px solid transparent;">
			</div>
		</div>

		<div class="row">
			<div class="container d-lg-block d-none">
				<hr style="border: 50px solid transparent;">
			</div>
		</div>

		<div class="container col-lg-12 col-md-12 col-sm-12">
			<p style="text-align: center; font-weight: bold; font-size: 50px;">§ Experiences §</p>
			<p style="text-align: center; font-size: 30px;">
				➣ Experience 1, in what field, performing what task, etc.<br/><br/>

				➣ Experience 2, in what field, performing what task, etc.<br/><br/>

				➣ Experience 3, in what field, performing what task, etc.<br/><br/>

				➣ Experience 4, in what field, performing what task, etc.
			</p>
		</div>

		<div class="container">
			<hr style="border: 100px solid transparent;">
		</div>
{% endblock %}