<!DOCTYPE>
{% load static %}

<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'defaultstylesheet.css' %}" type="text/css">
		<title>{% block title %}Home - Sandika{% endblock %}</title>
	</head>

	<body class="{% block bodyclass %}{% endblock %} bgcolor" {% block bodystyle %}style="background-image:url({% block bg-img %}{% static 'background-images/HomepageLine.png' %}{% endblock %}); background-size: {% block bg-img-width %}cover{% endblock %};"{% endblock %}>
		<div class="row">
			<div class="container col-md-12 col-sm-12">
				<ul class="nav justify-content-center" style="padding-bottom:0px">
				  <li class="nav-item">
				    <a class="nav-link white" href="../">Home</a>
				  </li>
				  <a class="nav-link">|</a>
				  <li class="nav-item">
				    <a class="nav-link white" href="../about/">About</a>
				  </li>
				  <a class="nav-link">|</a>
				  <li class="nav-item">
				    <a class="nav-link white" href="../contact/">Contact</a>
				  </li>
				  <a class="nav-link">|</a>
				  <li class="nav-item">
				    <a class="nav-link white" href="../schedule/">Schedule</a>
				  </li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="container col-lg-12 col-md-12 col-sm-12">
				<hr style="border: 2px solid white" width="600em" />
			</div>
		</div>

		{% block body %}
		{% endblock %}


	</body>
</html>