{% extends 'base.html' %}
{% load static %}
{% block title %}Contact - Sandika{% endblock %}
{% block bodystyle %}{% endblock %}
{% block bg-img %}{% static 'background-images/ContactLine.png' %}{% endblock %}
{% block bodyclass %}contact-bg-img{% endblock %}

{% block body %}
		<div class="row">
			<div class="container">
				<hr style="border: 60px solid transparent;">
			</div>
		</div>

		<div class="row">
			<div class="container d-lg-none d-md-block">
				<hr style="border: 60px solid transparent;">
			</div>
		</div>

		<div class="row">
			<div class="container col-sm-12 col-lg-5 contact-align">
				<img src="{% static 'Logo/gmail.png' %}" width="60px">
				<p class="contact-style">sandika.prangga@gmail.com</p>
			</div>
		</div>

		<div class="container">
			<hr style="border: 0.1px solid transparent;">
		</div>

		<div class="row">
			<div class="container col-sm-12 col-lg-5 contact-align">
				<img src="{% static 'Logo/linkedin.png' %}" width="60px">
				<p class="contact-style">/sandika-prangga-putra-6b4398154/</p>
			</div>
		</div>

		<div class="container">
			<hr style="border: 0.1px solid transparent;">
		</div>

		<div class="row">
			<div class="container col-sm-12 col-lg-5 contact-align">
				<img src="{% static 'Logo/facebook.png' %}" width="60px">
				<p class="contact-style">/sandikaSC/</p>
			</div>
		</div>

		<div class="container">
			<hr style="border: 0.1px solid transparent;">
		</div>
		<div class="row">
			<div class="container col-sm-12 col-lg-5 contact-align">
				<img src="{% static 'Logo/instagram.png' %}" width="60px">
				<p class="contact-style">@xandavior</p>
			</div>
		</div>
	{% endblock %}