{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Sandika{% endblock %}
{% block bg-img %}{% static 'background-images/HomepageLine.png' %}{% endblock %}

{% block body %}
		<div class="row">
			<div class="container d-block d-lg-none">
				<hr style="border: 80px solid transparent"/>
			</div>
		</div>

		<div class="row">
			<div class="container col-lg-1 col-md-4 col-sm-4">
				<img src="{% static '/Sandika.png' %}" height="525vh">
			</div>
			<div class="container col-lg-8 col-md-9 col-sm-6 lg-font md-font">
				<p id="introquote"> "Hello, I'm <b>Sandika</b>. <br/>A <b>passionate</b>, full of <br/><b>energy</b> sophomore <br/>currently pursuing major <br/>in information systems. <br/>I have an interest in <br/><b>business</b> especially <br/><b>technology-related <br/>startups</b>." </p>
			</div>		
		</div>

		<div class="row">
			<div class="container d-block d-lg-none">
				<hr style="border: 100px solid transparent"/>
			</div>
		</div>
	{% endblock %}